@model IEnumerable<Kit.Server.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>LABType Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>
                    @Html.DisplayFor(modelItem => item.Name)
                </h3>
            </td>
            @*<td>
                <h4>
                    @Html.DisplayFor(modelItem => item.Description)
                </h4>
            </td>*@
        </tr>
        <tr>
            @foreach (var lot in item.Lots)
            {
                <td>
@*                    @Html.ActionLink(lot.Catalog, "GetProduct", new { id = lot.Id })*@
                    @*<li>@Html.ActionLink("LABType Kits", "Index", "KitPools", new { area = "" }, null)</li>*@
                    <p><a href="@Url.Action("MyView", "KitPools", new{id = lot.Id})">@lot.Catalog &raquo;</a></p>

                   <p>@lot.State</p>
                </td>
            }
        </tr>
    }

</table>
