@using System.Globalization
@model Kit.Server.Models.KitPool


@{
    ViewBag.Title = "BeadDetail";
}

<h2>Bead Details</h2>

<div>
    <p>Bead Details</p>
    <table class="col-md-4">
        <tr>
            <th>Bead</th>
            <th>Probe</th>
        </tr>
        @{ var c = Model.KitConjugations;
         string displaybead = "";}

        @foreach (var item in Model.KitConjugations)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Bead.ToString(CultureInfo.InvariantCulture), "BeadDetail", new { id = item.Id })
                <td>
                    <div class="dynamicbar txt-color-greenDark hidden-mobile hidden-md hidden-sm"><i class="fa fa-spinner fa-spin"></i></div>
                </td>

                <td>
                    @Html.ActionLink(item.ProbeName, "index", new { id = item.Id })
                </td>


                <td>
                    @Html.ActionLink("Troubleshoot", "index", new { id = item.Id }) |
                    @Html.ActionLink("Confirm", "index", new { id = item.Id }) |
                    @Html.ActionLink("Specificity", "index", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

