@model Kit.Server.Models.KitPool


@{
    ViewBag.Title = "BeadDetail";
}

<h2>Bead Details</h2>

<div>
    <p>Bead Details</p>
    <table class="col-md-4">
        <tr>
            <th>Bead</th>
            <th>Probe</th>
        </tr>
        @{ var c = Model.KitConjugations.First(kc => kc.Id == 1);
         string displaybead = "";}

        @foreach (var item in Model.KitConjugations.Where(kc => kc.Bead == c.Bead))
        {
            <tr>
                <td>
                    @{var conjugation = item;}
                    @{if (conjugation.Bead != c.Bead)
                    {
                        c.Bead = conjugation.Bead;
                        @Html.ActionLink(c.Bead.ToString(), "BeadDetail", new { id = item.Id })
                    }
                    }
                </td>
                <td>
                    <div class="dynamicbar txt-color-greenDark hidden-mobile hidden-md hidden-sm"><i class="fa fa-spinner fa-spin"></i></div>
                </td>

                <td>
                    @Html.ActionLink(conjugation.ProbeName, "index", new { id = item.Id })
                </td>


                <td>
                    @Html.ActionLink("Edit", "index", new { id = item.Id }) |
                    @Html.ActionLink("Details", "index", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "index", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

